body{
    font-family: 'Bebas Neue', cursive;
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
}
/* NavBar Start */
ul {
    list-style-type: none;
    margin-right: 50px;
    margin-top: 24px;
    padding: 0;
    overflow: hidden;
}  
li {
    float: right;
}
li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
/* NavBar End */
/* Top Banner Start */
h1{
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    font-size: 80px;
}
p{
    font-family: 'Roboto', sans-serif;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width h1 .name{
    color: #FF8063;

}
.half-width a{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-color: #FF8063;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}
/* Top Banner End */
/* Project Section Start */
.project{
    background-color: gainsboro;
    /* box-shadow: 10px 10px 40px gray; */
    height: 400px;
    margin-bottom: 50px;
}
.project h1{
    padding-top: 20px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
}
.highlight{
    color: #FF8063;
}
.third-width{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
}
.third-width h3{
    font-family: 'Roboto', sans-serif;
    font-size: 24;
}
.third-width img{
    padding-top: 20px;
    width: 100%;
}
/* Project Section End */
/* Work Section Start */
.work{
    position: relative;
}
.work-left{
    position: absolute;
    bottom: 200px;
    left: 100px;
}
.work-left h2{
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
}
.work-right{
    position: absolute;
    bottom: 200px;
    left: 100px;
}
/* Work Section Start */
.work{
    margin-top: 20px;
    background-image: url(images/bg.png);
    border-radius: 15px;
    height: 30px;
    margin-left: 225px;
    margin-right: 225px;
    background-repeat: no-repeat;
    background-position: center;
    color:#fff;
}
.work.half-width h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
    padding-top: 80px;
    padding-left: 0px;
    font-size: 24px;
}
.work.half-width a{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 80px;
    margin-left: 40px;
    text-align: center;
}
/* Work Section End */
/* Footer Section Start */
.footer-section{
    line-height: 5px;
}
footer{
    margin-top: 20px;
    text-align: center;
}
footer h3{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}
footer h4{
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: gray;
}
.footer-logo img{
    padding: 5px;
    height: 24px;
    width: 24px;
}
/* Footer Section End */